/*
	style.css
*/
html,body{height:100%;overflow:hidden;}
body{
    margin: 0;
    padding: 0;
    background: #000;
    color: #FFF;
    font-size: 12px;
    font-family: Arial;
}
#container{
    width: 100%;
    height: 100%;
    opacity: 0.0;
}

h1#titleHead{
	position: fixed;
	z-index: 10000;
	left: 32px;
	top: 32px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	opacity: 0.0;
	text-shadow: 0 0 8px rgba(0,0,0,0.2);
	font-size: 14px;
}

h1#titleHead.fadeIn{
	-webkit-animation: titleFadeIn01 5.0s ease 0s;
	-moz-animation: titleFadeIn01 5.0s ease 0s;
	opacity: 1.0 !important;
}
@-webkit-keyframes titleFadeIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes titleFadeIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
h1#titleHead.fadeOut{
	-webkit-animation: titleFadeOut01 5.0s ease 0s;
	-moz-animation: titleFadeOut01 5.0s ease 0s;
	opacity: 0.0 !important;
}
@-webkit-keyframes titleFadeOut01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
@-moz-keyframes titleFadeOut01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}

.fadeOut{
	-webkit-animation: fadeOutAnimation01 1.5s ease 0s;
	-moz-animation: fadeOutAnimation01 1.5s ease 0s;
	opacity: 0.0 !important;
}
@-webkit-keyframes fadeOutAnimation01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
@-moz-keyframes fadeOutAnimation01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}

.fadeIn{
	-webkit-animation: fadeInAnimation01 3.5s ease 0s;
	-moz-animation: fadeInAnimation01 3.5s ease 0s;
	opacity: 1.0 !important;
}
@-webkit-keyframes fadeInAnimation01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes fadeInAnimation01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}



.blackOut{
	-webkit-animation: blackOut01 0.2s ease 0s;
	-moz-animation: blackOut01 0.2s ease 0s;
	opacity: 0.0 !important;
}
@-webkit-keyframes blackOut01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
@-moz-keyframes blackOut01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}

.blackIn{
	-webkit-animation: blackIn01 0.3s ease 0s;
	-moz-animation: blackIn01 0.3s ease 0s;
	opacity: 1.0 !important;
}
@-webkit-keyframes blackIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes blackIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}

.blackInLong{
	-webkit-animation: blackIn01 10.0s ease 0s;
	-moz-animation: blackIn01 10.0s ease 0s;
	opacity: 1.0 !important;
}
@-webkit-keyframes blackIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes blackIn01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}

.blackOutFix{
	-webkit-animation: blackOutFix01 10.0s ease 0s;
	-moz-animation: blackOutFix01 10.0s ease 0s;
	opacity: 0.0 !important;
}
@-webkit-keyframes blackOutFix01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
@-moz-keyframes blackOutFix01 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}


#controll{
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
}

#controll button{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.6);
	background-color: rgba(255,255,255,0.2);
	color: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#controll button.touch{
	border: 1px solid rgba(255,255,255,0.8);
	background-color: rgba(255,255,255,0.8);
	color: #000;
}

#scenes,
#effects,
#kinects{
	clear: both;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

#scenes button{
	width: 32%;
}
#effects button{
	width: 48.5%;
}

#effect2{
}

#kinects button{
	width: 32%;
}

#controllPC{
	display: none;
	position: fixed;
	left: 16px;
	bottom: 16px;
	opacity: 0.8;
}

