h1{margin-left:32px}.static{background:#ccc;border-right:1px solid #fff;border-top:1px solid #fff;height:16px;position:fixed;width:16px}.static.bottom{background:#000}.static.chara{background:red;border-radius:100%}
