/*
	style.css
*/
body{
	margin: 0;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: #FFFFFF;
	
	-webkit-text-size-adjust: 100%;
}

#webglView{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}