/*
	style.css
*/
body{
	margin: 0;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: #181818;
	color: #FFF;
	-webkit-text-size-adjust: 100%;
	font-family: 'Noto Serif JP', serif;
	font-weight: 900;
}


h1{
	margin: 64px 0 0 64px;
	padding: 0;
	line-height: 1;
	font-weight: normal;
}
h2{
	margin: 12px 64px;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	font-size: 16px;
}
#webglView{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
#vewField{
	margin-left: 64px;
	width: 256px;
	height: 256px;
	overflow: hidden;

	background: #FFF;
	color: #000;
}
#vewField p{
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 0;
}
