/*
	style.css
*/
body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
	background: #F9F9F9;
}
canvas{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
