/*
	linear.css
*/
body{
  margin: 0;
  overflow: hidden;
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
	background: #000000;
}

h1{
	z-index: 100;
	position: fixed;
	left: 10px;
	top: 10px;
	margin: 0;
	padding: 6px;
	font-size: 10px;
	background: rgba(0,0,0,0.1);
	color: #FFF;
	line-height: 1;
	font-size: 18px;
}

#webglView{
	z-index: -1;
}

#note{
	z-index: 100;
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 6px;
	font-size: 10px;
	background: rgba(0,0,0,0.2);
}

#note p{
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #FFF;
}

.dynamicText3D{
	position: fixed;
	left: -9999px;
	top: -9999px;
	z-index: 100;
	font-size: 10px;
	font-family: Arial;
	width: 50px;
	height: 15px;
	text-align: center;
	margin: -10px 0 0 -25px;
	padding: 6px 0 0 0;
	line-height: 1;
	color: #FFF;
	font-weight: bold;
	background: rgba(0,0,0,0.4);
}