/*
	style.css
*/
body{
	margin: 0;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: #181818;
	color: #FFF;
	-webkit-text-size-adjust: 100%;
	font-family: Georgia;
}

h1{
	margin: 64px 0 0 64px;
	padding: 0;
	line-height: 1;
	font-weight: normal;
}
h2{
	margin: 12px 64px;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	font-size: 16px;
}
#webglView{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}