/*
	style.css
*/

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	/*	box-sizing: border-box;	*/
	box-sizing: border-box;
}
*:not{
	-webkit-user-select: none;
}

html,
body{
	/*	height: 100%;	*/
	/*	overflow: hidden; */
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 100%;
	font-family: Georgia, "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-family: 'EB Garamond', serif !important;
	color: #FFF;
	background-color: #000;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

#container{
	height: 100%;
	text-align: left;
}

#siteBody.open{
	-webkit-animation: fadein01 3.0s ease 0s;
	-moz-animation: fadein01 3.0s ease 0s;
	opacity: 1.0;
}
@-webkit-keyframes fadein01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes fadein01 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}

#webglView{
	position: fixed;
}

article{
	display: block;
	float: left;
	margin: 0 0 32px 16px;
	width: 300px;
}

article p.thumb img{
	width: 100%;
	height: auto;
	background: rgba(0,0,0,0.2);
}
article p.txt{
	padding: 3px 0;
	font-family: Arial;
	font-size: 11px;
	background: rgba(0,0,0,0.2);
}

#siteHead{
	left: 0;
	top: 0;
	z-index: 10;
	padding: 16px;
	font-size: 24px;
	text-shadow: 0 0 4px #000;
}
#siteHead h2{
	margin-top: 5px;
	font-size: 12px;
	font-family: Arial;
}
#webglView{
	left: 0;
	top: 0;
	z-index: -100;

	width: 100%;
	height: 100%;
}

#siteFoot{
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 100%;
}

#siteFoot p{
	margin: 0;
	padding: 16px;
	line-height: 1;
	font-size: 12px;
	text-shadow: 0 0 4px #000;
	font-family: Arial;
	color: rgba(255,255,255,0.8);
}

.fadeOut{
	-webkit-animation: fadeOut00 0.5s ease 0s;
	-moz-animation: fadeOut00 0.5s ease 0s;
	opacity: 0.0;
}
@-webkit-keyframes fadeOut00 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
@-moz-keyframes fadeOut00 {
	0% {	opacity: 1.0;	}
	100% {	opacity: 0.0;	}
}
.fadeIn{
	-webkit-animation: fadeIn00 0.5s ease 0s;
	-moz-animation: fadeIn00 0.5s ease 0s;
	opacity: 1.0 !important;
}
@-webkit-keyframes fadeIn00 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
@-moz-keyframes fadeIn00 {
	0% {	opacity: 0.0;	}
	100% {	opacity: 1.0;	}
}
