/*
	style.css
*/

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	/*	box-sizing: border-box;	*/
	box-sizing: border-box;
}
*:not{
	-webkit-user-select: none;
}

html,
body{
		height: 100%;	
		overflow: hidden; 
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 100%;font-family: 'EB Garamond', serif !important;
	color: #FFF;
	background-color: #181818;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

#webglView{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
